.header
  %h2= @article.title
  .container-fluid
    .row
      .col-sm-8
        = link_to "#{@article.user.screen_name}", user_path(@article.user)
        %br
        =@article.body.html_safe
        %br
        %span.timestamp
          %em
            Posted #{time_ago_in_words(@article.created_at)} ago.
      .col-sm-3
        -if logged_in?
          = render partial: 'shared/new_comment_form'
        -if @comments.any?
          %h4 Comments:
          - @comments.each do | comment |
            = render partial: "shared/comment", locals: {comment: comment }
    .row
      .col-sm-4
      -# TODO: make helper method
      