= form_for(:session, url: login_path) do |form|
  = form.label :screen_name
  = form.text_field :screen_name, class: 'form-control'
  = form.label :password
  = form.password_field :password, class: 'form-control'
  %br
  = form.submit "Log In", class: 'btn btn-success'
  